$color_1: white;
$color_2: black;
$background-color_1: #0e0e0e;
$background-color_2: white;

header {
  background-color: $background-color_1;
  color: $color_1;
  padding: 5px;
  position: fixed;
  width: 100%;
  z-index: 2;
}
nav {
  text-align: right;
  margin-bottom: 10px;
  position: fixed;
  top: 87px;
  width: 100%;
  z-index: 2;
  li {
    display: inline-block;
    width: 60px;
    padding: 5px;
    text-align: center;
  }
  a {
    text-decoration: none;
    color: $color_1;
  }
}
p {
  color: $color_1;
  height: 200px;
  width: 200px;
  display: inline-block;
  margin: 0px 5%;
}
footer {
  height: 100px;
  color: $color_1;
  position: relative;
  top: 150px;
  li {
    display: inline;
  }
}
.container {
  text-align: center;
  max-width: 980px;
  min-width: 625px;
  position: relative;
  top: 120px;
  padding-top: 120px;
}
.date-square {
  width: 55px;
  height: 50px;
  background-color: $background-color_2;
  position: relative;
  bottom: 25px;
  display: inline-block;
  z-index: 1;
  p {
    color: $color_2;
    width: 50px;
    height: 30px;
    background-color: $background-color_2;
    text-align: center;
    margin: 0;
    position: relative;
    top: 10px;
  }
}
#logo {
  height: 100px;
  width: auto;
  margin: 0px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}
.mobile {
  display: none;
}
@media only screen and (max-width: 490px) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }

  body {
    header {
      padding: 0;
      text-align: center;
    }
    nav {
      top: 77px;
      padding-bottom: 5px;
      text-align: center;
      ul {
        padding: 0;
        li {
          padding: 0 5px;
        }
      }
    }
    .container {
      min-width: 320px;
      padding-top: 20px;
      .mobile {
        .p-container {
          margin: 0;
          .mobileImg {
            img {
              margin: 0;
              width: 100%;
            }
          }
          .timeline {
            margin-bottom: 40px;
          }
        }
      }
    }
    footer {
      min-width: 320px;
      height: auto;
      display: flex;
      #logo {
        margin: 0 auto;
        right: 0;
        position: relative;
      }
      ul {
        padding: 0;
        width: 100%;
        li {
          font-size: 0.6rem;
        }
      }
    }
  }
}
